.RuHistory__title{
    width: auto;
}

.RuItem__thintext{
    width: 459px;
    height:250px;
}

.RuGallery__grid-button{
    width: 240px;
}

.RuFooter__text{
    width: 459px;
    height: 150px;
}